<%- include('./partials/top.ejs') %>
<section id="products">
  <div class="container">
    <h1>Our Products</h1>
    <table class="table table-hover text-center">
      <thead class="bg-primary text-light">
          <tr>
              <th>#</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Type</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <% products.forEach((product, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= product.name %></td>
            <td><%= formatPrice(product.price) %></td>
            <td><%= product.quantity %></td>
            <td><%= product.type %></td>
            <td>
              <a href="#" class="btn btn-info">Details</a>
              <a data-toggle="modal" data-target="#cartModal<%= product.id %>" class="btn btn-success">Add To Cart</a>
            </td>
          </tr>
          <div class="modal" id="cartModal<%= product.id %>">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Item</h5>
                  <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <form action="/products/<%= product.id %>" method="POST">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" name="name" value="<%= product.name %>" readonly>
                    </div>
                    <div class="form-group">
                      <label for="price">Price</label>
                      <input type="text" class="form-control" name="price" value="<%= product.price %>" readonly>
                    </div>
                    <div class="form-group">
                      <label for="quantity">Quantity</label>
                      <input type="number" name="quantity" class="form-control">
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary float-right" type="submit">Add To Cart</button>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        <% }) %>
      </tbody>  
  </table>
  </div>

</section>
<%- include('./partials/bottom.ejs') %>